body{
    width: 1280px;
    height: 720px;
}

div{
    margin-left: 2px;
    margin-right: 2px;
}

.left{
    width: 120px;
    height: 100%;
    background-color: rgba(209,74,0,1);
    float: left;
}

.middle{
    width: 150px;
    height: 100%;
    background-color: rgba(0,139,209,1);
    float: left;
}

.right{
    width: 980px;
    height: 100%;
    background-color: whitesmoke;
    float: left;
    overflow: auto;
    border: #009fac;
}

p{
    height: 30px;
    padding: 0px ;
    margin: 0px;
    line-height: 30px;
    text-align: left;
}

input{
    width: 114px;
    height: 20px;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 15px;
}

.middleInput{
    width: 144px;
    height: 20px;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 15px;
}

.leftButton{
    width: 100%;
    height: 25px;
    background-color: rgba(209,33,0,1);
}

.middleButton{


}

.middleButton-sure{
    width: 100%;
    height: 25px;
    background-color: rgba(51,128,210,1);
}

.middleButton-edit{
    margin-top: 15px;
    width: 100%;
    height: 25px;
    background-color: rgba(0,81,107,1);
}

table{
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: center;
}

td,select, textarea{
    width: 100px;
    height: 20px;
}

.divButton{
    width: 120px;
    height: 20px;
    padding: 0px;
}

tr,textarea,select{
    background-color: #00e1cb;
}

.deepSelect, .deepTextarea{
    background-color: #00ac9d;
}

.csvAddButton{
    height: 25px;
    background-color: #67b168;
    margin-left: 5px;
}

.csvSaveButton{
    height: 25px;
    background-color: #5cb85c;
    margin-left: 5px;
}

button{
    height: 25px;
}

.delete{
    background-color: #c80009;
}

.add{
    background-color: #04b304;
}

.buttonInTd{
    width: 50px;
}

.upButton{
    background-color: #16ac00;
}

.downButton{
    background-color: #ac5900;
}






