body{
    width: 1280px;
    height: 720px;
}

.left{
    width: 10%;
    height: 100%;
    background-color: cadetblue;
    float: left;

}

.middle{
    width: 10%;
    height: 100%;
    background-color: greenyellow;
    float: left;
}

.right{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
}
