body{
    width: 1280px;
    height: 72px;
}

.left{
    width: 10%;
    height: 100%;
    background-color: cornflowerblue;

}

.middle{
    width: 10%;
    height: 100%;
    background-color: greenyellow;

}

.right{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
}
